{% block title %}Names of Members{% endblock title %}
  
  {% block content %}
  <h1>Names</h1>
  <form action = "" method = 'POST' {% csrf_token %}>
    
    {% if submitted %}
        <table>
            {{ form.as_table }}
            <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
        
    {% else %}
        <form action="" method="POST" novalidate>
        <table>
          {{ form.as_table }}
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
          </tr>
        </table>
        {% csrf_token %}
        </form>
    {% endif %}    
    </form>
    
 
 {% endblock content %}